<!doctype html>
<html ng-app>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="../Styles/stylesheet.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

	<style>
    </style>
  </head>
  <body>		
	<p>Enter your lobby info, then clickSubmit" to find the perfect champ</p>
	<form id="form1" method="POST" action="/champ_ids/">
	<select class="sel_ally" name="select" multiple="multiple" style="width: 40%">
		<option value="266">Aatrox</option>
		<option value="412">Thresh</option>
		<option value="23">Tryndamere</option>
		<option value="79">Gragas</option>
		<option value="69">Cassiopeia</option>
		<option value="136">Aurelion Sol</option>
		<option value="13">Ryze</option>
		<option value="78">Poppy</option>
		<option value="14">Sion</option>
		<option value="1">Annie</option>
		<option value="202">Jhin</option>
		<option value="43">Karma</option>
		<option value="111">Nautilus</option>
		<option value="240">Kled</option>
		<option value="99">Lux</option>
		<option value="103">Ahri</option>
		<option value="2">Olaf</option>
		<option value="112">Viktor</option>
		<option value="34">Anivia</option>
		<option value="27">Singed</option>
		<option value="86">Garen</option>
		<option value="127">Lissandra</option>
		<option value="57">Maokai</option>
		<option value="25">Morgana</option>
		<option value="28">Evelynn</option>
		<option value="105">Fizz</option>
		<option value="74">Heimerdinger</option>
		<option value="238">Zed</option>
		<option value="68">Rumble</option>
		<option value="82">Mordekaiser</option>
		<option value="37">Sona</option>
		<option value="96">Kog'Maw</option>
		<option value="55">Katarina</option>
		<option value="117">Lulu</option>
		<option value="22">Ashe</option>
		<option value="30">Karthus</option>
		<option value="12">Alistar</option>
		<option value="122">Darius</option>
		<option value="67">Vayne</option>
		<option value="110">Varus</option>
		<option value="77">Udyr</option>
		<option value="89">Leona</option>
		<option value="126">Jayce</option>
		<option value="134">Syndra</option>
		<option value="80">Pantheon</option>
		<option value="92">Riven</option>
		<option value="121">Kha'Zix</option>
		<option value="42">Corki</option>
		<option value="268">Azir</option>
		<option value="51">Caitlyn</option>
		<option value="76">Nidalee</option>
		<option value="85">Kennen</option>
		<option value="
		">Galio</option>
		<option value="45">Veigar</option>
		<option value="432">Bard</option>
		<option value="150">Gnar</option>
		<option value="90">Malzahar</option>
		<option value="104">Graves</option>
		<option value="254">Vi</option>
		<option value="10">Kayle</option>
		<option value="39">Irelia</option>
		<option value="64">Lee Sin</option>
		<option value="420">Illaoi</option>
		<option value="60">Elise</option>
		<option value="106">Volibear</option>
		<option value="20">Nunu</option>
		<option value="4">Twisted Fate</option>
		<option value="24">Jax</option>
		<option value="102">Shyvana</option>
		<option value="429">Kalista</option>
		<option value="36">Dr. Mundo</option>
		<option value="427">Ivern</option>
		<option value="131">Diana</option>
		<option value="223">Tahm Kench</option>
		<option value="63">Brand</option>
		<option value="113">Sejuani</option>
		<option value="8">Vladimir</option>
		<option value="154">Zac</option>
		<option value="421">Rek'Sai</option>
		<option value="133">Quinn</option>
		<option value="84">Akali</option>
		<option value="163">Taliyah</option>
		<option value="18">Tristana</option>
		<option value="120">Hecarim</option>
		<option value="15">Sivir</option>
		<option value="236">Lucian</option>
		<option value="107">Rengar</option>
		<option value="19">Warwick</option>
		<option value="72">Skarner</option>
		<option value="54">Malphite</option>
		<option value="157">Yasuo</option>
		<option value="101">Xerath</option>
		<option value="17">Teemo</option>
		<option value="75">Nasus</option>
		<option value="58">Renekton</option>
		<option value="119">Draven</option>
		<option value="35">Shaco</option>
		<option value="50">Swain</option>
		<option value="91">Talon</option>
		<option value="40">Janna</option>
		<option value="115">Ziggs</option>
		<option value="245">Ekko</option>
		<option value="61">Orianna</option>
		<option value="114">Fiora</option>
		<option value="9">Fiddlesticks</option>
		<option value="31">Cho'Gath</option>
		<option value="33">Rammus</option>
		<option value="7">LeBlanc</option>
		<option value="16">Soraka</option>
		<option value="26">Zilean</option>
		<option value="56">Nocturne</option>
		<option value="222">Jinx</option>
		<option value="83">Yorick</option>
		<option value="6">Urgot</option>
		<option value="203">Kindred</option>
		<option value="21">Miss Fortune</option>
		<option value="62">Wukong</option>
		<option value="53">Blitzcrank</option>
		<option value="98">Shen</option>
		<option value="201">Braum</option>
		<option value="5">Xin Zhao</option>
		<option value="29">Twitch</option>
		<option value="11">Master Yi</option>
		<option value="44">Taric</option>
		<option value="32">Amumu</option>
		<option value="41">Gangplank</option>
		<option value="48">Trundle</option>
		<option value="38">Kassadin</option>
		<option value="161">Vel'Koz</option>
		<option value="143">Zyra</option>
		<option value="267">Nami</option>
		<option value="59">Jarvan IV</option>
		<option value="81">Ezreal</option>
	</select>
	<select class="sel_enemy" name="select2" multiple="multiple" style="width: 40%">
		<option value="266">Aatrox</option>
		<option value="412">Thresh</option>
		<option value="23">Tryndamere</option>
		<option value="79">Gragas</option>
		<option value="69">Cassiopeia</option>
		<option value="136">Aurelion Sol</option>
		<option value="13">Ryze</option>
		<option value="78">Poppy</option>
		<option value="14">Sion</option>
		<option value="1">Annie</option>
		<option value="202">Jhin</option>
		<option value="43">Karma</option>
		<option value="111">Nautilus</option>
		<option value="240">Kled</option>
		<option value="99">Lux</option>
		<option value="103">Ahri</option>
		<option value="2">Olaf</option>
		<option value="112">Viktor</option>
		<option value="34">Anivia</option>
		<option value="27">Singed</option>
		<option value="86">Garen</option>
		<option value="127">Lissandra</option>
		<option value="57">Maokai</option>
		<option value="25">Morgana</option>
		<option value="28">Evelynn</option>
		<option value="105">Fizz</option>
		<option value="74">Heimerdinger</option>
		<option value="238">Zed</option>
		<option value="68">Rumble</option>
		<option value="82">Mordekaiser</option>
		<option value="37">Sona</option>
		<option value="96">Kog'Maw</option>
		<option value="55">Katarina</option>
		<option value="117">Lulu</option>
		<option value="22">Ashe</option>
		<option value="30">Karthus</option>
		<option value="12">Alistar</option>
		<option value="122">Darius</option>
		<option value="67">Vayne</option>
		<option value="110">Varus</option>
		<option value="77">Udyr</option>
		<option value="89">Leona</option>
		<option value="126">Jayce</option>
		<option value="134">Syndra</option>
		<option value="80">Pantheon</option>
		<option value="92">Riven</option>
		<option value="121">Kha'Zix</option>
		<option value="42">Corki</option>
		<option value="268">Azir</option>
		<option value="51">Caitlyn</option>
		<option value="76">Nidalee</option>
		<option value="85">Kennen</option>
		<option value="3">Galio</option>
		<option value="45">Veigar</option>
		<option value="432">Bard</option>
		<option value="150">Gnar</option>
		<option value="90">Malzahar</option>
		<option value="104">Graves</option>
		<option value="254">Vi</option>
		<option value="10">Kayle</option>
		<option value="39">Irelia</option>
		<option value="64">Lee Sin</option>
		<option value="420">Illaoi</option>
		<option value="60">Elise</option>
		<option value="106">Volibear</option>
		<option value="20">Nunu</option>
		<option value="4">Twisted Fate</option>
		<option value="24">Jax</option>
		<option value="102">Shyvana</option>
		<option value="429">Kalista</option>
		<option value="36">Dr. Mundo</option>
		<option value="427">Ivern</option>
		<option value="131">Diana</option>
		<option value="223">Tahm Kench</option>
		<option value="63">Brand</option>
		<option value="113">Sejuani</option>
		<option value="8">Vladimir</option>
		<option value="154">Zac</option>
		<option value="421">Rek'Sai</option>
		<option value="133">Quinn</option>
		<option value="84">Akali</option>
		<option value="163">Taliyah</option>
		<option value="18">Tristana</option>
		<option value="120">Hecarim</option>
		<option value="15">Sivir</option>
		<option value="236">Lucian</option>
		<option value="107">Rengar</option>
		<option value="19">Warwick</option>
		<option value="72">Skarner</option>
		<option value="54">Malphite</option>
		<option value="157">Yasuo</option>
		<option value="101">Xerath</option>
		<option value="17">Teemo</option>
		<option value="75">Nasus</option>
		<option value="58">Renekton</option>
		<option value="119">Draven</option>
		<option value="35">Shaco</option>
		<option value="50">Swain</option>
		<option value="91">Talon</option>
		<option value="40">Janna</option>
		<option value="115">Ziggs</option>
		<option value="245">Ekko</option>
		<option value="61">Orianna</option>
		<option value="114">Fiora</option>
		<option value="9">Fiddlesticks</option>
		<option value="31">Cho'Gath</option>
		<option value="33">Rammus</option>
		<option value="7">LeBlanc</option>
		<option value="16">Soraka</option>
		<option value="26">Zilean</option>
		<option value="56">Nocturne</option>
		<option value="222">Jinx</option>
		<option value="83">Yorick</option>
		<option value="6">Urgot</option>
		<option value="203">Kindred</option>
		<option value="21">Miss Fortune</option>
		<option value="62">Wukong</option>
		<option value="53">Blitzcrank</option>
		<option value="98">Shen</option>
		<option value="201">Braum</option>
		<option value="5">Xin Zhao</option>
		<option value="29">Twitch</option>
		<option value="11">Master Yi</option>
		<option value="44">Taric</option>
		<option value="32">Amumu</option>
		<option value="41">Gangplank</option>
		<option value="48">Trundle</option>
		<option value="38">Kassadin</option>
		<option value="161">Vel'Koz</option>
		<option value="143">Zyra</option>
		<option value="267">Nami</option>
		<option value="59">Jarvan IV</option>
		<option value="81">Ezreal</option>
	</select>
	<button type="submit" form="form1" value="Submit"> Find your champ </button>
	</form>
	<p id="allies"> </p>
	<p id="enemies"></p>
	<% if (name_out.length>0){ %>
		<p ><%=name_out[0] + ": " + win_out[0] %></p>
	<% } %>
	<script src="./scripts/id_to_champ.js"> </script>
	<script> 
		
		searchBox = document.querySelector("#searchBox");
		champions = document.querySelector("#champions");
		count = document.querySelector("#count");
		
		$(document).ready(function() {
			$('.sel_ally').select2({
				placeholder: "Ally champs",
				allowClear: true
			});
		});
		
		$(document).ready(function() {
			$('.sel_enemy').select2({
				placeholder: "Enemy champs",
				allowClear: true
			});
		});
		
		
		
		function champ_press(){		
			var allies =  $(".sel_ally").val();
			var enemies = $(".sel_enemy").val();
			document.getElementById("allies").innerHTML = allies;
			document.getElementById("enemies").innerHTML = enemies;
			
		};
		function return_ids(){
			var allies =  $(".sel_ally").val();
			var enemies = $(".sel_enemy").val();

			return({
				allies:allies,
				enemies:enemies
			})
		}
	</script>
  </body>
</html>